.about {
    background-color: rgba(13, 188, 129, 0.395);
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.about p {
    padding-top: 20px;
}

.about img {
    padding-top: 20px;
}