.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.form input, .form textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact p {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: rgba(21, 243, 169, 0.686);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.button:active{
    background-color: rgba(13, 188, 129, 0.395);
}

.form h5 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 20px;
}