.resume {
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

   
}

.skills {
    margin: 2%;
    background-color: rgba(13, 188, 129, 0.395);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* color: white; */
}

.skills h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.resume-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
 .resume-header a {
    color: rgb(0, 118, 78);
}
